<%- include('partials/header'); -%>
<h1>Compose</h1>
<form method="post" action="/">
  <input type="text" name="composeText" />
  <button type="submit">Publish</button>
</form>

<%- include('partials/footer'); -%>
